<style>
  mat-header-cell { text-transform: uppercase; }
  .heading--page { margin-bottom: .1em !important;}
  .heading--page, strong { font-size: 1.5em; }
  .total div:first-of-type { font-size: .8em; }
  .mat-column-description { flex-basis: 20%; }
  .mat-column-number { flex-basis: 20%; }
  .mat-column-more { flex-basis: 1%; }
  .parts-total-container {
    padding: 0 13% 0 1.7em ;
    height: 6em;
  }
</style>

<!-- Parts Table -->
<div class="heading--page u-m">{{service.name}}</div>

<div class="u-ml u-mr u-mb total">
  <div>Total Service Interval Cost</div>

  <div>
    <strong>{{service.total | currency}}</strong>
  </div>
</div>

<div class="heading--section u-m">Parts</div>
<mat-table [dataSource]="partsDataSource">
  <!-- Hours Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>
      <div class="description">
        Description
      </div>
    </mat-header-cell>

    <mat-cell *matCellDef="let part">
      <div class="description">{{part.description}}</div>
    </mat-cell>
  </ng-container>

  <!-- Part Number Column -->
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef> Part # </mat-header-cell>
    <mat-cell *matCellDef="let part">
      {{part.number}}
    </mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let part">
      {{part.price}}
    </mat-cell>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let part">
      {{part.quantity}}
    </mat-cell>
  </ng-container>

  <!-- Extended Price Column -->
  <ng-container matColumnDef="extendedPrice">
    <mat-header-cell *matHeaderCellDef class="u-pr txt-right"> Extended Price </mat-header-cell>
    <mat-cell *matCellDef="let part" class="u-pr txt-right">
      {{part.extendedPrice}}
    </mat-cell>
  </ng-container>

  <!-- Extended Price Column -->
  <ng-container matColumnDef="more">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let part">
      <div class="flex flex--row flex--center flex--bottom">
        <px-dropdown
          icon="px-nav:more"
          [items]="menuItems"
          select-by="val"
          button-style="icon"
          (selected-changed)="menuItemSelected($event, part)"
        >
        </px-dropdown>
      </div>
    </mat-cell>
  </ng-container>

  <!-- TABLE HEADERS -->
  <mat-header-row
    *matHeaderRowDef="displayedColumns"
  >
  </mat-header-row>

  <!-- TABLE ROWS -->
  <mat-row
    *matRowDef="let row; columns: displayedColumns;"
    (click)="onClick(row)"
    [class.highlight]="isSelected(row)"
  >
  </mat-row>
</mat-table>

<div class="parts-total-container flex flex--row flex--space-between flex--top">
  <div class="u-mt">
    <a (click)="onAddPart()">+ Add Part</a>
  </div>

  <div class="flex__item--bottom">
    Total Parts: <strong>{{service.totalParts | currency}}</strong>
  </div>
</div>
