<style>
.mat-cell.mat-column-select,
.mat-header-cell.mat-column-select {
  flex: 0 0 25px;
}
.mat-cell.mat-column-select px-icon {
  width: 13px;
}
.mat-header-row {
  min-height: inherit;
  padding: 5px 24px;
}
</style>

<section class="LifecycleTable">
  <mat-table #table [dataSource]="dataSource">

    <!-- toggle Column -->
    <ng-container matColumnDef="expand">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <px-icon
          [icon]="isExpanded(row) ? 'px-utl:remove' : 'px-utl:add'"
          (click)="toggleRow(row)"
        >
        </px-icon>
      </mat-cell>
    </ng-container>

    <!-- Hours Column -->
    <ng-container matColumnDef="hours">
      <mat-header-cell *matHeaderCellDef> Hours </mat-header-cell>
      <mat-cell *matCellDef="let element"> <a href="#">{{element.hours}}</a> </mat-cell>
    </ng-container>

    <!-- Parts Column -->
    <ng-container matColumnDef="parts">
      <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-parts"></span> Parts (List Price) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.parts}} </mat-cell>
    </ng-container>

    <!-- Labor Column -->
    <ng-container matColumnDef="labor">
      <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-labor"></span> Labor </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.labor}} </mat-cell>
    </ng-container>

    <!-- Fuel Column -->
    <ng-container matColumnDef="fuel">
      <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-fuel"></span> Fuel </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fuel}} </mat-cell>
    </ng-container>

    <!-- Lubrication Column -->
    <ng-container matColumnDef="lubrication">
      <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-lubrication"></span> Lubrication </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lubrication}} </mat-cell>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let row" class="weight--bold"> {{row.total}} </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns"
    >
    </mat-header-row>


    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let row">
         <table class="table">
          <tr *ngFor="let detail of row.details">
            <!-- {{jsonify(detail)}} -->
            <td>
              <a href="#">{{detail.service}}</a>
            </td>

            <td>
              <format-cash [money]="detail.parts"></format-cash>
            </td>

            <td>
              <format-cash [money]="detail.labor"></format-cash>
            </td>

            <td>
              <format-cash [money]="detail.fuel"></format-cash>
            </td>

            <td>
              <format-cash [money]="detail.lubercation"></format-cash>
            </td>

            <td>
              <div *ngIf="detail.total; let total">
                {{ total | currency }}
              </div>
            </td>
          </tr>
        </table>
      </mat-cell>
    </ng-container>

    <!-- TABLE ROWS -->
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"
      [class.highlight]="isExpanded(row)"
    >
    </mat-row>

    <mat-row
      *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
      [@detailExpand]="isExpanded(row) ? 'expanded' : 'collapsed'"
      style="overflow: hidden"
    >
    </mat-row>
  </mat-table>
</section>