// Hack fix for app-header-layout used by px-app-header in our HeaderNav cmpt
app-header-layout[fullbleed] {
  position: inherit !important;
}

//Material Angular TTab Styles
//Hack font fix for material tab component
.mat-tab-group,
.mat-tab-label,
.mat-tab-link {font-family: inherit;}
//Add padding around tabbed content
.mat-tab-body-wrapper {
  padding: 13px 25px;
}
.mat-tab-label[aria-selected="true"] {
  // font-weight: bold;
  // color: $base-txt;
}
.mat-tab-group.mat-primary .mat-tab-label:focus {
    background-color: var(--primary-light);
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--primary-default);
}

// Material Angular Table overides
.mat-table {
    font-family: inherit;
}
.mat-cell {
    font-size: 18px;
}
.mat-cell a{
    text-decoration: none;
}

.mat-header-row {
    min-height: inherit;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: var(--gray1);
    border-bottom-color: transparent;
}

.mat-header-row, .mat-row {
  padding-left: 0;
}

// Material Anglular Checkbox Overrides
.mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background-color: var(--dark)
  }
}

//make sure the app header is on top
.px-app-header {z-index: 5 !important;}

//Get numbers to align
.data-header-key,
.data-row {
    div{
        text-align: left;
        min-width: 90px;
    }
    div:last-child{
        text-align: right;
        min-width: 90px;
    }
}
// The overview area at the top of a dashboard containing kpis or key-value-pairs and other visualizations
.spine {
    background-color: var(--gray1);
    padding: 2em;
}
.report-header {
    background-color: $white;
    padding: 2em;
}

// The main content views of the px-lcc-app
.Dashboard, .Reports, .ReportDetail, .Settings {
  display: block;
  background-color: $white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
}

// TODO: move back to report-detail specific styles once angular fixes its scoping bugs
.report-inputs {
  label {
    font-size: 9px;
    width: 50%;
  }
  px-dropdown, input {
    font-size: 12px;
  }

  input { max-width: 5em; }
}
.Reports aha-table .tr.rows {
  padding: 20px 7px;
  border-bottom: 1px solid #979797;
}
.Parts {
  .px-data-table-cell {
    font-size: 13px;
    padding: 0px;
  }
  .table.aha-table {
    padding: 5px;
  }
}

// Table styles
.highlight {
  background-color: var(--table-row-highlight);
}

a {
  color: var(--actionable);
  cursor: pointer;
}

// Predix button overrides
.btn--call-to-action {
  text-transform: uppercase;
}


.report-header {
    border-bottom: 1px solid $gray1;
}
.report-body {
    background-color: $gray1;
    .box {
        background-color: white;
    }
}
.lifecycle-summary {
    border-bottom: 1px solid $gray1;
}

.data-header-key {
    background-color: $gray1;
    font-size: 12px;
}
.swatch {
  display: inline-block;
  margin-right: 5px;
  width: 1.2em;
  height: .7em;
  border: 1px solid var(--dark);
  background-color: black;

  &.swatch-parts {background-color: var(--orange);}
  &.swatch-labor {background-color: var(--blue);}
  &.swatch-fuel {background-color: var(--yellow);}
  &.swatch-lubrication {background-color: var(--violet);}
}

// Service detail dialog styles
mat-dialog-container[aria-label="service-detail-dialog"] {
  padding: 0;
}

// Morris js data vis library overides
.morris-hover.morris-default-style {
  background-color: rgba(245, 242, 242, 0.8);
}
