<style>
.share {
  text-transform: uppercase;
}
.share a {
  font-size: .9em;
}
px-icon[icon="px-utl:share"]{
  padding-bottom: 5px;
}
a.edit {
  text-decoration: underline;
}
</style>

<div class="ReportDetail">
  <!-- REPORT HEADER -->
  <div class="report-header flex flex--row flex--justify flex--middle u-p++">
    <!-- TODO: Create service and mock out all this data when the shape of the data is known -->
    <div>
      <span class="heading--page">L7044GSI Report Forecast #1</span><br/>
      <span class="epsilon">Prepared for James Ellis, ACME Corporation</span>

      <a (click)="onEdit(report)" class="u-ml edit">
        Edit
      </a>
    </div>

    <div class="u-p share bold">
      <a (click)="onShare(report)"  class="flex flex--row flex--left flex--bottom">
        <span class="share">Share</span><px-icon icon="px-utl:share" class="u-ml--" size="36px"></px-icon>
      </a>
    </div>
  </div>

  <div class="layout page-height">
    <!-- INPUTS -->
    <div class="report-inputs layout__item u-1/6-desk">
      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Engine"
      >
        <div class="box box--small">
          <inputs-engine></inputs-engine>
        </div>
      </accordion-with-toggle>

      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Parts"
      >
        <div class="box box--small">
          <inputs-parts></inputs-parts>
        </div>
      </accordion-with-toggle>

      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Fuel"
        hasToggleSwitch="true"
        [toggleSwitchCallback]="toggleFuel"
      >
        <div class="box box--small">
          <inputs-fuel></inputs-fuel>
        </div>
      </accordion-with-toggle>

      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Lubrication"
        [toggleSwitchCallback]="toggleLubrication"
      >
        <div class="box box--small">
          <inputs-lubrication></inputs-lubrication>
        </div>
      </accordion-with-toggle>

      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Labor"
        [toggleSwitchCallback]="toggleLabor"
      >
        <div class="box box--small">
          <inputs-labor></inputs-labor>
        </div>
      </accordion-with-toggle>
    </div>

    <!-- MAIN CONTENT TABS -->
    <div class="layout__item pd-0">
      <div class="flex flex--row flex--center flex--middle u-p bg-gray">
        <section class="tab-container wide bg-light border bx-shadow">
          <report-detail-tabs></report-detail-tabs>
        </section>
      </div>
    </div>
  </div>
</div>