<style>

</style>
<div class="Parts">
  <div class="layout u-p">
    <div class="layout__item">
      <px-data-table
        table-data='[
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        },
        {
            "part description":"Kit, Admission Valve Repair",
            "part #":"211665D",
            "part category":"Oil Filter",
            "part type":"Waukesha",
            "list price":"$25.78",
            "":"overflow menu"
        }]'
        language="en"
        striped
        filterable
        sortable
        include-all-columns
        hide-pagination-control
        data-remote>
      </px-data-table>
    </div>
  </div>
</div>
