<style>
  .chart-controls {
    font-size: 12px;
    border-top: 1px solid var(--gray1);
  }
  .data-row {
    border-bottom: 1px solid var(--gray);
  }
  .key-vals .total {
    text-align: right;
  }
</style>

<div class="EngineLifecyle flex flex--col">
  <!-- TODO: Mock this data from a service -->
  <div class="key-vals flex flex--row flex--justify flex--middle">
    <div class="u-p">
      <px-key-value-pair
          key="Total Parts"
          value="$135,480"
          uom=""
          size="delta">
      </px-key-value-pair>
    </div>

    <div class="u-p">
      <px-key-value-pair
          key="Total Labor"
          value="$71,090"
          uom=""
          size="delta">
      </px-key-value-pair>
    </div>

    <div class="u-p">
      <px-key-value-pair
          key="Total Fuel"
          value="$739,440"
          uom=""
          size="delta">
      </px-key-value-pair>
    </div>

    <div class="u-p">
      <px-key-value-pair
          key="Total Lubrication"
          value="$53,720"
          uom=""
          size="delta">
      </px-key-value-pair>
    </div>

    <div class="u-p total">
      <px-key-value-pair
          key="Total LifeCycle Cost (52000 Hours)"
          value="12345"
          uom=""
          size="gamma">
      </px-key-value-pair>
    </div>
  </div>

  <div class="chart-controls flex flex--row flex--right flex--middle u-p-">
    <label class="label--inline u-ml+" for="">Currency</label>
    <px-dropdown class="u-mh" items='["USD","Other","Other"]' selected="0"></px-dropdown>

    <label class="label--inline u-ml+" for="">Inflation</label>
    <px-dropdown class="u-mh" items='["2%","3%","4%"]' selected="0"></px-dropdown>

    <label class="label--inline u-ml+" for="">Show Data by</label>
    <px-dropdown class="u-mh" items='["Hours","Years"]' selected="0"></px-dropdown>
  </div>

  <div class="box box--large wide">
    <img src="../../../assets/img/chart-fpo.png">
  </div>

  <lifecycle-table></lifecycle-table>
</div>