<style>
  .chart-controls {
    font-size: 12px;
    border-top: 1px solid var(--gray1);
  }
  .data-row {
    border-bottom: 1px solid var(--gray);
  }
  .key-vals .total {
    text-align: right;
  }
</style>

<div class="EngineLifecyle flex flex--col">
  <!-- TODO: Mock this data from a service -->
  <div class="key-vals flex flex--row flex--justify flex--middle">
    <div class="u-p">
      <px-key-value-pair
          key="Total Parts"
          value="$135,480"
          uom=""
          size="delta">
      </px-key-value-pair>
    </div>

    <div class="u-p">
      <px-key-value-pair
          key="Total Labor"
          value="$71,090"
          uom=""
          size="delta">
      </px-key-value-pair>
    </div>

    <div class="u-p">
      <px-key-value-pair
          key="Total Fuel"
          value="$739,440"
          uom=""
          size="delta">
      </px-key-value-pair>
    </div>

    <div class="u-p">
      <px-key-value-pair
          key="Total Lubrication"
          value="$53,720"
          uom=""
          size="delta">
      </px-key-value-pair>
    </div>

    <div class="u-p total">
      <px-key-value-pair
          key="Total LifeCycle Cost (52000 Hours)"
          value="12345"
          uom=""
          size="gamma">
      </px-key-value-pair>
    </div>
  </div>

  <div class="chart-controls flex flex--row flex--right flex--middle u-p-">
    <label class="label--inline u-ml+" for="">Currency</label>
    <px-dropdown class="u-mh" items='["USD","Other","Other"]' selected="0"></px-dropdown>

    <label class="label--inline u-ml+" for="">Inflation</label>
    <px-dropdown class="u-mh" items='["2%","3%","4%"]' selected="0"></px-dropdown>

    <label class="label--inline u-ml+" for="">Show Data by</label>
    <px-dropdown class="u-mh" items='["Hours","Years"]' selected="0"></px-dropdown>
  </div>

  <div class="box box--large wide">
    <img src="../../../assets/img/chart-fpo.png">
  </div>

  <div class="data-header-key flex flex--row flex--justify flex--middle u-p--">
    <div>Year</div>
    <div><span class="swatch swatch-parts"></span>Parts (List Price)</div>
    <div><span class="swatch swatch-labor"></span>Labor</div>
    <div><span class="swatch swatch-fuel"></span>Fuel</div>
    <div><span class="swatch swatch-lube"></span>Lubrication</div>
    <div>Total</div>
  </div>

  <div class="data-row flex flex--row flex--justify flex--middle u-pv epsilon">
    <div><a class="actionable actionable"><px-icon icon="px-utl:add"></px-icon>Year 1</a></div>
    <div>$5,710</div>
    <div>$1,500</div>
    <div>$113,760</div>
    <div>$8,280</div>
    <div>$129,250</div>
  </div>

  <div class="data-row flex flex--row flex--justify flex--middle u-pv epsilon">
    <div><a class="actionable actionable"><px-icon icon="px-utl:add"></px-icon>Year 2</a></div>
    <div>$1,710</div>
    <div>$500</div>
    <div>$2,760</div>
    <div>$8,280</div>
    <div>$12,250</div>
  </div>

  <div class="data-row flex flex--row flex--justify flex--middle u-pv epsilon">
    <div><a class="actionable actionable"><px-icon icon="px-utl:add"></px-icon>Year 3</a></div>
    <div>$5,710</div>
    <div>$1,500</div>
    <div>$113,760</div>
    <div>$8,280</div>
    <div>$129,250</div>
  </div>
</div>