@import './variables-mixins';

// Hack fix for app-header-layout used by px-app-header in our HeaderNav cmpt
app-header-layout[fullbleed] {
  position: inherit !important;
}

// The main content views of the px-lcc-app
.Dashboard, .Reports, .ReportDetail, .Settings {
  display: block;
  background-color: $white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
}

// TODO: move back to report-detail specific styles once angular fixes its scoping bugs
.report-inputs {
  label {
    font-size: 12px !important;
    width: 50%;
  }
  input {
    // max-width: 6em;
  }
}
.Reports aha-table .tr.rows {
  padding: 20px 7px;
  border-bottom: 1px solid #979797;
}

// Material Angular tabs active
.mat-tab-label[aria-selected="true"] {
  font-weight: bold;
  color: $base-txt;
}
