@import './variables-mixins';

// Hack fix for app-header-layout used by px-app-header in our HeaderNav cmpt
app-header-layout[fullbleed] {
  position: inherit !important;
}

// The main content views of the px-lcc-app
.Dashboard, .Reports, .ReportDetail, .Settings {
  display: block;
  background-color: $white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
}

// TODO: move back to report-detail specific styles once angular fixes its scoping bugs
.report-inputs[_ngcontent-c2] {
  font-size: 10px;

  label {
    font-size: 10px;
  }
  input {
    max-width: 6em;
  }
}

// Helper classes
.bg-gray {
  background-color: $touch-o-grey;
}

.bg-light {
  background-color: $light;
}
.spine {
  @extend .bg-gray;
  padding: 2em;
}

.border {
  border: 1px solid $gray;
}

.tall {
  height: 100%
}

.wide {
  width: 100%
}

.page-height {
  height: 100vh
}

.page-width {
  width: 100vw;
}

.pd-0 {
  padding: 0 !important
}