<style>
  px-icon {
    margin-left: 85%;
    margin-bottom: -28%;
  }
  ul {
    background-color: var(--light);
    width: 13em;
    position: absolute;
    overflow: auto;
    z-index: 10;
  }
</style>

<div class="wrapper">
  <!-- Turn autocomplete back on after development -->
  <form autocomplete="off">
    <div>
      <px-icon
        *ngIf="!dirty()"
        icon="px-nav:search"
      >
      </px-icon>

      <input
        type="search"
        name="searchTerm"
        [value]="searchTerm"
        (change)="onChange($event)"
        (keyup)="onChange($event)"
        (blur)="onBlur()"
        class="text-input input--auto"
      >
    </div>

    <ul
      class="list-ui border"
      [@searchExpand]="hasResults(results) ? 'expanded' : 'collapsed'"
    >
      <li class="list-ui__item" *ngFor = "let suggestion of suggestions">
        <a
          (click)="onSelectSuggestion(suggestion)"
          tabindex="0"
        >
          {{suggestion.value}}
        </a>
      </li>
    </ul>
  </form>
</div>