<div class="ReportDetail">
  <!-- REPORT HEADER -->
  <div class="report-header flex flex--row flex--justify flex--middle u-p++">
    <!-- TODO: Create service and mock out all this data when the shape of the data is known -->
    <div class="heading--page">Name of the Report
      <br/>
      <span class="epsilon">Prepared for James Ellis, ACME Corporation</span>
    </div>
    <div class="u-p">Share
      <px-icon icon='px-utl:share'></px-icon>
    </div>
  </div>

  <div class="layout">
    <!-- INPUTS -->
    <div class="report-inputs layout__item u-1/6-desk">
      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Engine"
        [toggleSwitchCallback]=""
      >
        <div class="box box--small">
          <inputs-engine></inputs-engine>
        </div>
      </accordion-with-toggle>

      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Parts"
      >
        <div class="box box--small">
          <inputs-parts></inputs-parts>
        </div>
      </accordion-with-toggle>

      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Fuel"
        hasToggleSwitch="true"
        [toggleSwitchCallback]="toggleFuel"
      >
        <div class="box box--small">
          <inputs-fuel></inputs-fuel>
        </div>
      </accordion-with-toggle>

      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Lubrication"
        [toggleSwitchCallback]="toggleLubrication"
      >
        <div class="box box--small">
          <inputs-lubrication></inputs-lubrication>
        </div>
      </accordion-with-toggle>

      <accordion-with-toggle
        icons='{"more":"px-utl:add","less":"px-utl:remove"}'
        headerValue="Labor"
        [toggleSwitchCallback]="toggleLabor"
      >
        <div class="box box--small">
          <inputs-labor></inputs-labor>
        </div>
      </accordion-with-toggle>
    </div>

    <!-- MAIN CONTENT -->
    <div class="report-body layout__item">
      <div class="box box--flush">
        <!-- TABS -->
        <report-detail-tabs></report-detail-tabs>
      </div>
    </div>
  </div>
</div>