
<span class="heading--page u-m">{{heading}}</span>

<form #reportForm="ngForm" (ngSubmit)="onSubmit(report)">
  <div class="u-m">
    <label for="engine-models" class="label">Engine Model</label>
    <select id="engine-models" name="engines" [(ngModel)]="report.engineModel">
      <option value="L7044GSI" selected>
        L7044GSI
      </option>
      <option value="L8044GSI">
        L8044GSI
      </option>
      <option value="L9044GSI">
        L9044GSI
      </option>
    </select>
  </div>

  <label class="u-m">
    <span class="label">Report Name</span>
    <input
      type="text"
      class="text-input"
      name="name"
      required
      minlength="4"

      [(ngModel)]="report.name"
    >
  </label>

  <label class="u-m">
    <span class="label">Contact Name</span>
    <input
      type="text"
      class="text-input"
      name="contactName"
      required
      minlength="4"

      [(ngModel)]="report.contactName"
    >
  </label>

  <label class="u-m">
    <span class="label">Company</span>
    <input
      type="text"
      class="text-input"
      name="company"
      required
      minlength="4"

      [(ngModel)]="report.company"
    >
  </label>

  <button
    type="submit"
    class="btn btn--call-to-action u-m"
    [disabled]="!reportForm.form.valid"
  >
    Continue
  </button>
</form>
