<div class="Settings">
  <div class="spine u-p++">
    <span class="heading--page">Settings</span>
  </div>
  <div class="layout layout--large u-p">
    <div class="layout__item u-1/2 u-p">
      <span class="heading--subsection">Units of Measurement</span>
      <!-- UOM -->
      <div class="layout u-p">
        <div class="layout__item u-1/4 u-p">
          <label for="">Gas</label>
          <px-dropdown id="" button-style="bare" items='["MMBTU","Other","Other"]' selected="0"></px-dropdown>
        </div>
        <div class="layout__item u-1/4 u-p">
          <label for="">Energy</label>
          <px-dropdown id="" button-style="bare" items='["BTU","Other","Other"]' selected="0"></px-dropdown>
        </div>
        <div class="layout__item u-1/4 u-p">
          <label for="">Volume</label>
          <px-dropdown id="" button-style="bare" items='["US Gallon","Other","Other"]' selected="0"></px-dropdown>
        </div>
        <div class="layout__item u-1/4 u-p">
          <label for="">Power</label>
          <px-dropdown id="" button-style="bare" items='["Horsepower","Other","Other"]' selected="0"></px-dropdown>
        </div>
        <div class="layout__item u-1/4 u-p">
          <label for="">Weight</label>
          <px-dropdown id="" button-style="bare" items='["Pound","Other","Other"]' selected="0"></px-dropdown>
        </div>
      </div>
    </div>

    <div class="layout__item u-1/2 u-p"></div><!-- BLANK -->

    <div class="layout__item u-1/2 u-p">
      <span class="heading--subsection">Pricing</span>
      <!-- PRICING -->
      <div class="layout u-p">
        <div class="layout__item u-1/4 u-p">
          <label for="">Currency</label>
          <px-dropdown id="" button-style="bare" items='["USD","Other","Other"]' selected="0"></px-dropdown>
        </div>
        <div class="layout__item u-1/4 u-p">
          <label for="">Labor Rate</label>
          <div class="flex">
            <input id="" value="$150.00" class="text-input input--tiny u-mr--" type="text" />
            <px-dropdown button-style="bare" items='["USD/Hour","Other","Other","Other"]' selected="0" button-style="bare"></px-dropdown>
          </div>
        </div>
        <div class="layout__item u-1/4 u-p">
          <label for="">Pricing</label>
          <px-dropdown id="" button-style="bare" items='["List Price","Other","Other"]' selected="0"></px-dropdown>
        </div>
        <div class="layout__item u-1/4 u-p">
          <label for="">Discount Off List Price</label>
          <px-dropdown id="" button-style="bare" items='["5%","6%","7%","ETC."]' selected="0"></px-dropdown>
        </div>
        <div class="layout__item u-1/3 u-p">
          <label for="" >Natural Gas(USD/MMBTU)</label>
          <input id="" placeholder="Enter Gas Price..." class="text-input input--regular" type="text">
        </div>
        <div class="layout__item u-1/3 u-p">
          <label for="" >Synthetic Oil(USD/Gallon)</label>
          <input id="" placeholder="Enter Oil Price..." class="text-input input--regular" type="text">
        </div>
        <div class="layout__item u-1/3 u-p">
          <label for="" >Mineral Oil(USD/Gallon)</label>
          <input id="" placeholder="Enter Oil Price..." class="text-input input--regular" type="text">
        </div>
      </div>
    </div>

    <div class="layout__item u-1/2 u-p"></div><!-- BLANK -->

    <div class="flex flex--left u-p">
      <button class="btn u-mv+">Cancel</button>
      <button class="btn btn--call-to-action u-mv+">Save Settings</button>
    </div>
  </div>
</div>