<section class="InputParts">
  <div class="flex flex--row flex--justify flex--middle u-mb">
    <label class="label--inline" for="">Pricing</label>
    <px-dropdown [items]='["List","Other","Other"]' selected="0"></px-dropdown>
  </div>

  <div class="flex flex--row flex--justify flex--middle u-mv">
    <label class="label--inline" for="parts-input">Discount Off List</label>
    <input id="parts-input" value="5" class="text-input input--small" type="number" step="any">
  </div>

  <div class="flex flex--right">
    <call-to-action class="u-mv+">Apply</call-to-action>
  </div>
</section>
