<div class="ReportDetailTabs">
  <mat-tab-group>
    <mat-tab>
      <!-- TAB -->
      <ng-template mat-tab-label>
        <px-icon icon="px-fea:orchestration" class="u-mr"></px-icon> ENGINE LIFECYCLE
      </ng-template>

      <!-- TAB CONTENT -->
      <engine-lifecycle></engine-lifecycle>
    </mat-tab>

    <mat-tab>
      <!-- TAB -->
      <ng-template mat-tab-label>
        <px-icon icon="px-fea:log" class="u-mr"></px-icon> SERVICE INTERVALS
      </ng-template>

      <!-- TAB CONTENT -->
      <service-intervals></service-intervals>
    </mat-tab>

    <mat-tab>
      <!-- TAB -->
      <ng-template mat-tab-label>
        <px-icon icon="px-fea:asset" class="u-mr"></px-icon> PARTS
      </ng-template>

      <!-- TAB CONTENT -->
      <parts></parts>
    </mat-tab>
  </mat-tab-group>
</div>
