<style>
  .about a{
    display: block;
    margin-bottom: 7px;
  }
  .report-preview .entry {
    border-top: 1px solid var(--gray1);
  }
  .report-preview .entry .model {
    text-align: center;
    width: 100px;
  }
  .report-preview .entry .info .meta {
    display: block;
    margin-top: 7px;
  }
  .report-preview .entry .info .meta .zeta {
    display: block;
    line-height: normal;
  }
</style>

<div class="Dashboard">
  <div class="spine u-p++">
    <span class="heading--page">Waukesha LifeCycle</span>
  </div>

  <div class="layout">
    <div class="about layout__item u-2/3-desk">
      <div class="box">
        <div class="flex flex--row flex--justify flex--top">
          <div class="u-1/2 u-p">
            <span class="heading--section">Take a Tour</span>
            <p>LifeCycle is a forecasting tool that helps predict engine operating expenses over the entire life cycle of your Waukesha gas engine. Generate a custom report to show the cost of fuel, lubrication, parts, and labor based on your specific application.</p>
            <a href="#">Watch 30-Second Tour Video</a>
            <a href="#">Read Frequently Asked Questions</a>
            <a href="#">Contact the Support Team</a>

            <call-to-action
              class="u-mt"
              large="true"
              (click)=" onNewReport()"
            >
              <px-icon style="width: 12px; margin-top: -5px;" icon="px-utl:add"></px-icon>
              <span>Create a New Report</span>
            </call-to-action>
          </div>

          <div class="u-1/2 u-p">
            <img src="assets/img/screenshot-fpo.png"/>
          </div>
        </div>
      </div>
    </div>

    <div class="report-preview layout__item u-1/3-desk">
      <div class="box">
        <div class="u-p">
          <span class="heading--section">Your Latest Reports</span>
          <div class="u-mt">
            <!-- Entry -->
            <div class="entry flex flex--row flex--left flex--top">
              <div class="model u-p">
                <img src="assets/img/engine-tn-fpo.png"/><br/>
                <span class="model-name weight--bold zeta">VGF - F18G</span>
              </div>
              <div class="info u-p">
                <a href="#">Report Name #1</a><br/>
                <span class="meta">
                  <span class="zeta">For: James Ellis, ACME Corporation</span>
                  <span class="zeta">Last Modified: August 18, 2018</span>
                  <span class="zeta">Total LifeCycle Cost: $123,456</span>
                </span>
              </div>
            </div>

            <!-- Entry -->
            <div class="entry flex flex--row flex--left flex--top">
              <div class="model u-p">
                <img src="assets/img/engine-tn-fpo.png"/><br/>
                <span class="model-name weight--bold zeta">VGF - F18G</span>
              </div>
              <div class="info u-p">
                <a href="#">Report Name #2</a><br/>
                <span class="meta">
                  <span class="zeta">For: James Ellis, ACME Corporation</span>
                  <span class="zeta">Last Modified: August 18, 2018</span>
                  <span class="zeta">Total LifeCycle Cost: $123,456</span>
                </span>
              </div>
            </div>

            <!-- Entry -->
            <div class="entry flex flex--row flex--left flex--top">
              <div class="model u-p">
                <img src="assets/img/engine-tn-fpo.png"/><br/>
                <span class="model-name weight--bold zeta">VGF - F18G</span>
              </div>
              <div class="info u-p">
                <a href="#">Report Name #3</a><br/>
                <span class="meta">
                  <span class="zeta">For: James Ellis, ACME Corporation</span>
                  <span class="zeta">Last Modified: August 18, 2018</span>
                  <span class="zeta">Total LifeCycle Cost: $123,456</span>
                </span>
              </div>
            </div>

            <call-to-action class="u-mt" (click)="onViewReports()">
              View All Reports
            </call-to-action>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>