<style>
.mat-cell.mat-column-select,
.mat-header-cell.mat-column-select {
  flex: 0 0 25px;
}
.mat-cell.mat-column-select px-icon {
  width: 13px;
}
.mat-header-row {
  min-height: inherit;
  padding: 5px 24px;
}
.detail-row mat-cell{
  font-size: .9em;
}
</style>

<section class="LifecycleTable">
  <mat-table [dataSource]="dataSource">

    <!-- Hours Column -->
    <ng-container matColumnDef="hours">
      <mat-header-cell *matHeaderCellDef> Hours </mat-header-cell>
      <mat-cell *matCellDef="let row">
         <px-icon [icon]="isExpanded(row) ? 'px-utl:remove' : 'px-utl:add'">
        </px-icon>

        <a class="u-ml">{{row.hours | number}}</a>
      </mat-cell>
    </ng-container>

    <!-- Parts Column -->
    <ng-container matColumnDef="parts">
      <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-parts"></span> Parts (List Price) </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <format-cash [money]="row.parts"></format-cash>
      </mat-cell>
    </ng-container>

    <!-- Labor Column -->
    <ng-container matColumnDef="labor">
      <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-labor"></span> Labor </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <format-cash [money]="row.labor"></format-cash>
      </mat-cell>
    </ng-container>

    <!-- Fuel Column -->
    <ng-container matColumnDef="fuel">
      <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-fuel"></span> Fuel </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <format-cash [money]="row.fuel"></format-cash>
      </mat-cell>
    </ng-container>

    <!-- Lubrication Column -->
    <ng-container matColumnDef="lubrication">
      <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-lubrication"></span> Lubrication </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <format-cash [money]="row.lubrication"></format-cash>
      </mat-cell>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let row" class="weight--bold">
        <format-cash [money]="row.total"></format-cash>
      </mat-cell>
    </ng-container>


    <!-- DETAIL ROW TEMPLATES -->
    <!-- Service Column -->
    <ng-container matColumnDef="service">
      <mat-cell *matCellDef="let detailRow">
        <a>{{detailRow.service}}</a>
      </mat-cell>
    </ng-container>

    <!-- Service Parts -->
    <ng-container matColumnDef="serviceParts">
      <mat-cell *matCellDef="let detailRow">
        <format-cash [money]="detailRow.parts"></format-cash>
      </mat-cell>
    </ng-container>

    <!-- Servie Labor -->
    <ng-container matColumnDef="serviceLabor">
      <mat-cell *matCellDef="let detailRow">
        <format-cash [money]="detailRow.labor"></format-cash>
      </mat-cell>
    </ng-container>

    <!-- Service Fuel -->
    <ng-container matColumnDef="serviceFuel">
      <mat-cell *matCellDef="let detailRow">
        <format-cash [money]="detailRow.fuel"></format-cash>
      </mat-cell>
    </ng-container>

    <!-- Service Lube -->
    <ng-container matColumnDef="serviceLube">
      <mat-cell *matCellDef="let detailRow">
        <format-cash [money]="detailRow.lubrication"></format-cash>
      </mat-cell>
    </ng-container>

    <!-- Service Total -->
    <ng-container matColumnDef="serviceTotal">
      <mat-cell *matCellDef="let detailRow">
        <format-cash [money]="detailRow.total"></format-cash>
      </mat-cell>
    </ng-container>


    <!-- TABLE HEADERS -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>



    <!-- TABLE ROWS -->
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="toggleRow(row)"
      [class.highlight]="isExpanded(row)"
    >
    </mat-row>

    <!-- DETAIL ROWS -->
    <mat-row
      *matRowDef="let detialRow; columns: displayedDetailColumns; when: isExpansionDetailRow"
      [@detailExpand]="isExpanded(detialRow) ? 'expanded' : 'collapsed'"
      (click)="onViewServiceDetail(detialRow.meta)"

      class="detail-row"
      style="overflow: hidden"
    >
    </mat-row>
  </mat-table>
</section>