<style>
  mat-header-cell.mat-column-select { flex: 0 0 10.5em; }
  mat-cell.mat-column-select {
    flex: 0 0 7em;
  }
  mat-header-cell.mat-column-service { flex: 0 0 19.5em; }
  mat-cell.mat-column-service {
    flex: 0 0 13em;
  }
  .mat-header-row {
    min-height: inherit;
    padding: 5px 24px;
  }
 .mat-row {
    min-height: 58px;
  }
  #intervals-chart { width: 99%; height: 99%;}
</style>

<div class="ServiceIntervals flex flex--col">
  <div class="chart-controls flex flex--row flex--right flex--middle u-p--">
    <label class="label--inline" for="">Currency</label>
    <px-dropdown class="u-mh" items='["USD","Other","Other"]' selected="0"></px-dropdown>
  </div>


  <!-- Data Visualisation -->
  <div class="u-m">
    <div id="intervals-chart"></div>
  </div>

  <section class="">
    <mat-table #table [dataSource]="dataSource">

      <!-- Include (Toggle) Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          Include
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <px-toggle
            size="small"
            (checked-changed)="toggleRow($event, row)"
            [checked]="isSelected(row)"
          >
          </px-toggle>
        </mat-cell>
      </ng-container>

      <!-- Service Column -->
      <ng-container matColumnDef="service">
        <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a (click)="onViewServiceDetail(element.service)">{{element.service}}</a>
        </mat-cell>
      </ng-container>

      <!-- Interval Column -->
      <ng-container matColumnDef="interval">
        <mat-header-cell *matHeaderCellDef> Interval </mat-header-cell>
        <mat-cell *matCellDef="let element"> <px-dropdown id="" button-style="bare" items='["0 Hours","4000 Hours","5000 Hours","6000 Hours","7000 Hours"]' selected="1"></px-dropdown></mat-cell>
        <!-- <mat-cell *matCellDef="let element"> ${{element.parts}} </mat-cell> -->
      </ng-container>

      <!-- Parts Column -->
      <ng-container matColumnDef="parts">
        <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-parts"></span> Parts (List Price) </mat-header-cell>
        <mat-cell *matCellDef="let element"> ${{element.parts}} </mat-cell>
      </ng-container>

      <!-- Labor Column -->
      <ng-container matColumnDef="labor">
        <mat-header-cell *matHeaderCellDef> <span class="swatch swatch-labor"></span> Labor </mat-header-cell>
        <mat-cell *matCellDef="let element"> ${{element.labor}} </mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price Per Interval </mat-header-cell>
          <mat-cell *matCellDef="let element" class="weight--bold"> ${{element.price}} </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </section>
</div>