<div class="EngineLifecycle">
  <div class="flex flex--row flex--justify flex--middle u-mb">
    <label class="label--inline" for="">Model</label>
    <px-dropdown id="" items='["L7044GSI","Other","Other"]' selected="0"></px-dropdown>
  </div>

  <div class="flex flex--row flex--justify flex--middle u-mv">
    <label class="label--inline" for="">Speed</label>
    <px-dropdown id="" items='["900RPM","Other","Other"]' selected="0"></px-dropdown>
  </div>

  <div class="flex flex--row flex--justify flex--middle u-mv">
    <label class="label--inline" for="">Site Load</label>
    <input id="" placeholder="" class="text-input input--small" type="number" />
  </div>

  <div class="flex flex--row flex--justify flex--middle u-mv">
    <label class="label--inline" for="">Date of Commissioning</label>
    <px-datetime-field
        hide-time
        allow-wrap
        block-past-dates
        date-format="YYYY/MM/DD"
        time-format="hh:mm:ss A"
        time-zone="UTC"
        show-time-zone="none">
    </px-datetime-field>
  </div>

  <div class="flex flex--row flex--justify flex--middle u-mv">
    <label class="label--inline" for="hr-pr-yr">Operating Hours per Year</label>
    <input id="hr-pr-yr" value="8760" class="text-input input--small" type="number" />
  </div>

  <div class="flex flex--row flex--justify flex--middle u-mv">
    <label class="label--inline" for="num-engines"># of Engines</label>
    <input id="num-engines" value="1" class="text-input input--small" type="number" />
  </div>

  <div class="flex flex--row flex--justify flex--middle u-mv">
    <label class="label--inline" for="">Cooling System</label>
    <px-dropdown id="" items='["Standard","Other","Other"]' selected="0"></px-dropdown>
  </div>

  <div class="flex flex--right">
    <call-to-action class="u-mv+">Apply</call-to-action>
  </div>
</div>
