.bg-gray {
  background-color: var(--touch-o-gray);
}

.bg-light {
  background-color: var(--light);
}

.border {
  border: 1px solid var(--gray);
}

.bold {
  font-weight: bold;
}

.tall {
  height: 100%
}

.wide {
  width: 100%
}

.page-height {
  height: 100vh
}

.page-width {
  width: 100vw;
}

.pd-0 {
  padding: 0 !important
}

.bx-shadow {
  box-shadow: 0 3px 3px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.20);
}
.bottom-shadow {
  box-shadow: 0 3px 3px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.20);
}

.txt-right { text-align: right; }
.txt-center { text-align: center; }

// Flex helpers to suppliment Predix helpers found here -> https://www.predix-ui.com/#/css/layout/px-flexbox-design
.flex--space-between {
  justify-content: space-between
}