<style>
  .spine {
    background-color: var(--touch-o-gray);
    padding: 2em;
  }
</style>

<div class="Dashboard">
  <div class="spine u-p++">
    <span class="heading--page u-p">Waukesha LifeCycle</span>
    <span class="epsilon">Get smarter about lorem ipsum</span>
  </div>

  <px-card header-text="Productivity Details" icon="px-fea:alerts">
      HEYO
  </px-card>

  <px-card class="light-card" header-text="Exhaust TC Differentials" icon="px-fea:orchestration">
    <div class='actions'>
      <px-icon icon='px-utl:app-settings'></px-icon>
    </div>
    HE-YA
  </px-card>
</div>