<div class="ReportDetailTabs">
  <mat-tab-group>
    <mat-tab>
      <!-- TAB -->
      <ng-template mat-tab-label>
        ENGINE LIFECYCLE
      </ng-template>

      <!-- TAB CONTENT -->
      <engine-lifecycle></engine-lifecycle>
    </mat-tab>

    <mat-tab>
      <!-- TAB -->
      <ng-template mat-tab-label>
        SERVICE INTERVALS
      </ng-template>

      <!-- TAB CONTENT -->
      <service-intervals></service-intervals>
    </mat-tab>

    <mat-tab>
      <!-- TAB -->
      <ng-template mat-tab-label>
        PARTS
      </ng-template>

      <!-- TAB CONTENT -->
      <parts></parts>
    </mat-tab>
  </mat-tab-group>
</div>
