<div class="ReportDetailTabs">
  <mat-tab-group>
    <mat-tab>
      <!-- TAB -->
      <ng-template mat-tab-label>
        ENGINE LIFECYCLE
      </ng-template>

      <!-- TAB CONTENT -->
      <!-- <engine-lifecycle></engine-lifecycle> -->
      <p>engine lifecycle placehoder</p>
    </mat-tab>

    <mat-tab>
      <!-- TAB -->
      <ng-template mat-tab-label>
        SERVICE INTERVALS
      </ng-template>

      <!-- TAB CONTENT -->
      <!-- <service-intervals></service-intervals> -->
      <p>service int placeholder</p>
    </mat-tab>

    <mat-tab>
      <!-- TAB -->
      <ng-template mat-tab-label>
        PARTS
      </ng-template>

      <!-- TAB CONTENT -->
      <!-- <parts></parts> -->
      <p>parts placeholder</p>
    </mat-tab>
  </mat-tab-group>
</div>
